body {
  padding: 0;
  margin: 0;
}
.mobile-nav{
  width: 100vw;
  overflow-x: hidden;

  /* remove for production */
  border: 1px solid black;
}
.mobile-nav *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  touch-action: none;
}

.mobile-nav a,
.mobile-nav a:active,
.mobile-nav a:focus,
.mobile-nav a:visited{
  color: black;
  text-decoration: none;
}

.mobile-nav ul{
  list-style: none;
}

.mobile-nav .nav-wrapper {
  /* width is set in javascript */

  display: flex;
  text-align: center;
}
.mobile-nav .nav-wrapper .menu-item{
  width: 100vw;
}